---
import Main from "@components/tools/windows-server/Index";
import Layout from "@layouts/Layout.astro";

---

<Layout 
  type="article"
  title="Windows Server Setup Tool | Generador de Scripts PowerShell para Windows Server" 
  description="Herramienta para generar scripts PowerShell automatizados: Active Directory, DNS, DHCP, GPOs y más en Windows Server 2019. Simplifica despliegues de servidores."
  image="ivanmercedes-avatar.webp"
>
  <main>
   <Main client:load />
  </main>
</Layout>

