---
import Main from "@components/tools/windows-server/Index";
import NewLayout from "@layouts/NewLayout.astro";

---

<NewLayout 
  type="article"
  title="Windows Server Setup Tool | Generador de Scripts PowerShell para Windows Server" 
  description="Herramienta para generar scripts PowerShell automatizados: Active Directory, DNS, DHCP, GPOs y más en Windows Server 2019. Simplifica despliegues de servidores."
>
  <main>
   <Main client:load />
  </main>
</NewLayout>

