---
import Card from "@components/Card.astro";

const { data } = Astro.props;
---

<section class="py-10">
  <div class="grid grid-cols-2 gap-10">
    {
      data?.map((item: any) => {
        return <Card data={item} />;
      })
    }
  </div>
</section>
