---

import Card from "@components/Card.astro";
import { getCollection } from "astro:content";

const projects = (await getCollection("projects"))
   .sort((a, b) => b.data.id - a.data.id)
  .map(({ data: {  datePublished, name, image, tags }, slug }) => ({
    datePublished,
    name,
    image,
    slug,
    tags
  }));
---

<section class="py-20">
  <div class="container mx-auto max-w-screen-lg px-6 relative z-10">
    <h2
      class="text-4xl font-bold text-center text-white  my-10"
    >
      Proyectos
    </h2>

    <div class="grid xl:grid-cols-2 gap-10">
      {
        projects.map((item: any) => {
          
          return (
            <Card data={item} isProject={true} />
          )
        })
      }
    </div>
  </div>
</section>
