---
import { getCollection } from "astro:content";

import BlogsWidget from "@components/sections/BlogsWidget.astro";
import Layout from "@layouts/Layout.astro";

const posts = (await getCollection("posts"))
  .sort(
    (
      { data: { datePublished: datePublishedA } },
      { data: { datePublished: datePublishedB } }
    ) => new Date(datePublishedB).valueOf() - new Date(datePublishedA).valueOf()
  )
  .map(({ data: { datePublished, name, image }, slug }) => ({
    datePublished,
    name,
    image,
    slug,
  }));
---

<Layout 
   title="Blog de Programaci칩n | Conocimientos, Tutoriales, Consejos y Novedades" 
   description="Explora ideas innovadoras, tutoriales, consejos pr치cticos y lo 칰ltimo en tecnolog칤a y desarrollo web. Aprende programaci칩n de manera sencilla y efectiva." 
   image="/blog-avatar.webp">
  <main class="py-20 relative z-10">
    <div class="container mx-auto max-w-screen-lg px-6">
      <header>
        <h1
          class="text-4xl font-bold bg-clip-text text-transparent  text-white my-3"
        >
        Bienvenido a Mi Blog de Programaci칩n 
        </h1>
        <p>
          Descubre <strong class="text-primary-500">ideas innovadoras</strong>, <strong class="text-primary-500">consejos pr치cticos</strong>, <strong class="text-primary-500">tutoriales</strong> y lo 칰ltimo en <em>tecnolog칤a y desarrollo web</em>.
          <br> 춰Explora y aprende conmigo! 游닄
        </p>
      </header>
      <BlogsWidget data={posts} />
    </div>
  </main>
</Layout>
