---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/sections/HeroWidget.astro";
// import Skills from "@components/sections/Skills.astro"; 
import Projects from "@components/sections/Projects.astro";
---

<Layout title="Welcome to Astro.">
  <main class="h-[200vh]">
	<Hero />
  <!-- <Skills /> -->
  <Projects />
  </main>
</Layout>

