---
import Hero from "@components/sections/HeroWidget.astro";
import Layout from "@layouts/Layout.astro";
// import Skills from "@components/sections/Skills.astro"; 
import Projects from "@components/sections/Projects.astro";
import avatIvanMercedes from "../../assets/images/ivanmercedes-avatar.webp";
---

<Layout 
  title="Ivan Mercedes - Fullstack Developer Santo Domingo" 
  description="Desarrollador Fullstack en Santo Domingo experto en Laravel, React, React Native, Node.js y Wordpress."
  image="ivanmercedes-avatar.webp"
>
  <main>
	<Hero />
  <!-- <Skills /> -->
  <Projects />
  </main>
</Layout>

