---
import Hero from "@components/sections/HeroWidget.astro";
import Layout from "@layouts/Layout.astro";
import Projects from "@components/sections/Projects.astro";
---

<Layout 
  type="website"
  title="Ivan Mercedes - Fullstack Developer Santo Domingo" 
  description="Desarrollador Fullstack en Santo Domingo experto en Laravel, React, React Native, Node.js y Wordpress."
  image="ivanmercedes-avatar.webp"
>
  <main>
	<Hero />
  <Projects />
  </main>
</Layout>

