---
import NewLayout from "@layouts/NewLayout.astro";
import NewNavbar from "@components/new-design/NewNavbar.astro";
import HeroSection from "@components/new-design/HeroSection.astro";
import StackSection from "@components/new-design/StackSection.astro";
import ProjectsSection from "@components/new-design/ProjectsSection.astro";
import WritingSection from "@components/new-design/WritingSection.astro";
import OpenSourceSection from "@components/new-design/OpenSourceSection.astro";
import ExperienceSection from "@components/new-design/ExperienceSection.astro";
import FooterSection from "@components/new-design/FooterSection.astro";
---

<NewLayout
  title="Ivan Mercedes - Desarrollador Fullstack"
  description="Desarrollador Fullstack en Santo Domingo experto en Laravel, React, React Native, Node.js y Wordpress."
  type="website"
>
  <NewNavbar />
  <main>
    <HeroSection />
    <StackSection />
    <ProjectsSection />
    <WritingSection />
    <OpenSourceSection />
    <ExperienceSection />
    <FooterSection />
  </main>
</NewLayout>
